
.panoramic-image-container {
    position: relative;
    background: url('/img/imgan_pano.jpg') no-repeat center center;
    background-size: cover;
    height: 400px; /* Ajusta la altura según sea necesario */
}

.filtro-contenedor {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 5px;
    width: 95%; /* Ajusta el ancho según sea necesario */
}
/* Estilos para las imágenes del encabezado */
.logo-img_x{
    width: auto; /* Ajusta el ancho como desees */
    height: 30px; /* Ajusta el alto como desees */
    object-fit: cover; /* Esto asegura que la imagen se recorte para llenar el espacio asignado */
}
/*cambiarel tipo de letra en el titulo*/
span.mr-2 {
    font-family: 'Roboto', sans-serif; /* Replace with your desired font */
    font-weight: bold;
    font-size: 30px;
  }
  .logo-img {
    width: 50px; /* Adjust this value as needed */
  }
  
  .carousel-img {
    height: 300px; /* Ajusta la altura según sea necesario */
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}
/* General Styles */
.latest-accessories {
    width: 90%; /* Adjust width as needed */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    background-color: #ffffff9a; /* Light gray background */
  }
  
  .latest-accessories h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Grid Container Styles */
  .accessory-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-gap: 20px; /* Gap between columns */
    align-items: center; /* Align items vertically */
  }
  
  /* Product Item Styles */
  .accessory-item {
    width: 100%; /* Make each item occupy full width of its column */
    background-color: #fff; /* White background */
    border: 1px solid #ddd; /* Light border */
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  /* Product Image Styles */
  .accessory-image {
    width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add some space below the image */
    border: 1px solid #ddd; /* Light border */
  }
  
  /* Product Title Styles */
  .accessory-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  


  
  .accessory-original-price {
    color: #999; /* Grayed out original price */
    text-decoration: line-through;
  }
  
  /* Product Discount Styles */
  .accessory-discount {
    color: green; /* Green color for discount */
    font-weight: bold;
  }
  
 
  
  .accessory-description .line {
    width: 100%;
    height: 1px;
    background-color: #ddd; /* Light gray divider line */
    margin-bottom: 5px;
  }
  
  /* Heart Icon Styles */
  .accessory-heart-icon {
    font-size: 20px;
    color: #ccc; /* Light gray heart icon */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: color 0.3s ease; /* Smooth transition for color change */
  }
  
  .accessory-heart-icon:hover {
    color: red; /* Red color on hover */
  }
  #contenedorPrincipal {
    display: flex;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#contenedorTextoImagen {
    width: 40%;
    padding: 20px;
}

#tituloSecundario {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

#parrafoTexto {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

#imagenPequena {
    width: 25%; /* Ancho de la imagen pequeña */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.imagen-grande {
    width: 45%;
    height: auto;
}

#imagenGrande {
    width: 57%;
    height: auto;
}
#contenedorTextoImagen {
    background-color: #f0f0f0; /* Color de fondo para el contenedor de texto e imagen */
}


#imagenGrande {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Sombra para la imagen grande */
}
/* Estilos previos */

/* Estilos específicos para el pie de página */

#pieDePagina {
    background-color: rgb(36, 35, 35); /* Color de fondo rojo */
    padding: 20px;
    
}

#columnaImagenes {
    text-align: center; /* Centra el texto horizontalmente */
}

#imagenFacebook, #imagenInstagram, #imagenWhatsapp {
    margin-bottom: 10px; /* Espacio entre las imágenes */
}
#pieDePagina p, #textoDerechosReservados p {
    color: white; /* Color blanco para el texto */
}

#textoDerechosReservados {
    text-align: center; /* Centra el texto horizontalmente */
}

  p{
    font-weight: bold;
  }