.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.column {
    flex: 1;
    padding: 20px;
}
.column img {
    width: 100%;
    height: auto;
}
#map {
    width: 100%;
    height: 400px;
}
.column::-webkit-scrollbar {
    width: 10px;
  }
  
  .column::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  /* Cambia el estilo del cursor al pasar sobre el scroll */
  .column::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  /* Estilos para las imágenes limitadas */
.img-limited {
  max-width: 400px; /* Limita el ancho máximo de la imagen al 100% del contenedor */
  max-height: 300px;   /* Mantiene la proporción de la imagen */
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin: 10px 0; /* Añade márgenes verticales para separar las imágenes y el texto */
}

/* Estilos para los contenedores de columnas */
.column {
  float: left;
  width: 50%; /* Divide el ancho del contenedor principal en dos columnas */
  padding: 10px;
  height: 100%; /* Ajusta la altura al contenido */
}

/* Clearfix para evitar problemas de flotación */
.container::after {
  content: "";
  display: table;
  clear: both;
}

body{
  background-color: #55555510;
}